body {
    overflow-x: hidden;
    background-color:rgb(72, 75, 81);
}
/* ::-webkit-scrollbar {width: 0px; background: transparent;} */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#titleBar {
    background-color: rgb(32, 34, 37);
    color: rgb(114, 118, 125);
    font-weight:bold;
    -webkit-app-region: drag
}
.button {
    padding-left: 6px;
}
.button:hover {
    cursor: pointer;
}
#minimizeButton:hover, #maximizeButton:hover, #exitButton:hover {
    color:white
}
#exitButton:hover {
    background-color: rgb(240, 71, 71)
}

.mangaColumn {
    background-color: rgb(47, 49, 54);
    overflow-y:auto;
    padding-right:0;
    cursor: context-menu
}
.mangaColumn li:hover:not(.header), .pendingColumn li:hover:not(.header) {
    background-color: #eee;
}
.pendingColumn {
    background-color:rgb(72, 75, 81);
    overflow-y:auto;
    overflow-x:hidden;
    padding-left: 0;
    cursor: context-menu;
    padding-right: 0px
    /*  */
}
#secondRow {
    padding-right: 14px
}
.pendingEntryField{
    padding-right: 20px;
}
#Mangalist, #Pendinglist{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
    background-color: rgb(47, 49, 54);
    color: rgb(114, 118, 125);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Trashlist {
    padding-left: 0;
    padding-right: 20px;
    list-style-type: none;
    margin: 0;
    color: rgb(167, 174, 187);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Pendinglist {
    overflow-x:hidden;
    word-wrap:break-word
}
#rightColumnDeleteMode {
    display: none;
    color: rgb(167, 174, 187);
    overflow-y: auto;
}
#mangaInput, #pendingInput {
    width:100%;
    padding-right: 0%;
    background-color: rgb(72, 75, 81);
    border-color: rgb(72, 75, 81);
    border:0px;
    color: rgb(179, 180, 183);}
#mangaInput:focus, #pendingInput:focus {
    outline: none
}

@keyframes flashing-text {
    0% {color: red;}
    50% {color: rgb(179, 180, 183);}
    100% {color: red;}
}
#notSavedAlert  {
    font-weight: bold;
    animation-name: flashing-text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
